@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar by default */
.scrollable-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollable-container::-webkit-scrollbar {
  display: none; /* WebKit */
}

/* Show scrollbar on hover */
.scrollable-container:hover {
  scrollbar-width: thin; /* Firefox */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* IE10+ */
}

.scrollable-container:hover::-webkit-scrollbar {
  display: block;
  width: 8px; /* Adjust for desired thickness */
}

/* Style the scrollbar */
.scrollable-container:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.133);
  border-radius: 4px;
}

.scrollable-container:hover::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600 !important;
}

.react-calendar__tile--active {
  background-color: #c3ebfa !important;
  color: #000 !important;
}
.rbc-btn-group:first-child {
  display: none !important;
}
.rbc-btn-group:last-child {
  font-size: 13px !important;
}
.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #f1f0ff !important;
}

.rbc-btn-group:last-child button.rbc-active {
  box-shadow: none !important;
  background-color: #dbdafe !important;
}

.rbc-toolbar-label {
  text-align: right !important ;
  padding: 0 20px !important;
}

.rbc-time-view {
  border-color: #eee;
}

.rbc-time-header {
  display: none !important;
}
.rbc-time-content {
  border-top: none !important;
}

.rbc-time-gutter .rbc-time-column {
  font-size: 12px !important;
}

.rbc-time-gutter .rbc-time-column .rbc-timeslot-group {
  padding: 0 20px !important;
}

.rbc-timeslot-group {
  background-color: #f7fdff !important;
}

.rbc-day-slot {
  font-size: 14px !important;
}
.rbc-event {
  border: none !important;
  color: #000 !important;
  padding: 10px !important;
  width: 99% !important;
}
.rbc-event:nth-child(1) {
  background-color: #edf9fd !important;
}
.rbc-event:nth-child(2) {
  background-color: #f1f0ff !important;
}
.rbc-event:nth-child(3) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(4) {
  background-color: #edf9fd !important;
}
.rbc-event:nth-child(5) {
  background-color: #f1f0ff !important;
}
.rbc-event:nth-child(6) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(7) {
  background-color: #edf9fd !important;
}
.rbc-event:nth-child(8) {
  background-color: #f1f0ff !important;
}
.rbc-event-label {
  color: gray !important;
  margin-bottom: 5px !important;
}
.rbc-label {
  font-size: 12px !important;
  color: #1c1c1c !important;
  opacity: 0.8 !important;
}
.rbc-time-slot{
  text-align: left !important;
  display: flex !important;
  
}

